{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ club.name }}</title>
    <link rel="stylesheet" href="{% static 'social/style.css' %}">
</head>
<body>
    <div id="title">
    <h1>{{club.name}}</h1>
    </div>
    <div id="content" class="container">
    {{ club.name }}
    <a href="{% url 'index'%}">Powrót na strone główną</a>
    </div>
    <div class="commentSec">
            <h3>Komentarze</h3>
        {% for comment in comments %}
            <p class="nicku"><strong>{{ comment.user.username }}</strong> ({{ comment.created }}):</p>
            <p class="contentBody">{{ comment.body }}</p>
        {% empty %}
            <p>Brak komentarzy.</p>
        {% endfor %}
    </div>
        <div class="addCom">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Dodaj komentarz</button>
        </form>
    </div>

</body>
</html>
